

.clear{zoom:1;}

ul#social, ul#social li{display:inline;}

#topnav ul{white-space:nowrap;}
#topnav ul ul{white-space:normal;}
#topnav ul li{*display:inline; overflow:auto;}

#header form input{height:20px; padding-top:5px;}